<h1> You want to see all the AI tools in a single category ? Then just click them!! </h1>
<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.category, category_page_path(category.id) %>
    </li>
  <% end %>
</ul>

<br>
<div class="col-lg-2 text-center">
  <a class="btn btn-primary" href="<%= root_path %>" role="button">Go back to Home page</a>
</div>